apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: seafile-tailscale
  namespace: seafile
spec:
  ingressClassName: tailscale
  tls:
  - hosts:
    - seafile # Requests the 'seafile' cert on your tailnet
  rules:
  - host: seafile 
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: seafile
            port:
              number: 80
