apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: 80.11.0
    helm:
      values: |
        grafana:
          additionalDataSources:
            - name: Loki
              type: loki
              uid: loki
              access: proxy
              url: http://loki.monitoring.svc.cluster.local:3100
              isDefault: false
              editable: true
              jsonData:
                maxLines: 1000
                httpHeaderName1: 'X-Scope-OrgID'
              secureJsonData:
                httpHeaderValue1: homelab
            - name: Tempo
              type: tempo
              access: proxy
              orgId: 1
              url: http://tempo:3100
              basicAuth: false
              isDefault: false
              version: 1
              editable: false
              apiVersion: 1
              uid: tempo
        prometheus:
          prometheusSpec:
            retention: 15d
            retentionSize: 30GiB

  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring

  syncPolicy:
    syncOptions:
      - ServerSideApply=true
      - CreateNamespace=true

