apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: tempo
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://grafana.github.io/helm-charts
    targetRevision: 1.24.1
    chart: tempo
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
