apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: tailscale-grafana-ingress
  namespace: monitoring
spec:
  defaultBackend:
    service:
      name: monitoring-grafana
      port:
        number: 80
  ingressClassName: tailscale

