apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nextcloud
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://nextcloud.github.io/helm/
    targetRevision: 8.7.0
    chart: nextcloud
    helm:
      values: |
        persistence:
          enabled: true
          storageClass: "longhorn"
          size: 10Gi
          nextcloudData:
            enabled: true
            storageClass: "longhorn"
            size: 150Gi
            accessMode: ReadWriteOnce
        internalDatabase:
          enabled: false
        nextcloud:
          host: nextcloud-tailscale-nextcloud-ingress-ingress.tailf76cf8.ts.net
          trustedDomains:
            - nextcloud-tailscale-nextcloud-ingress-ingress.tailf76cf8.ts.net

          extraEnv:
            - name: MYSQL_HOST
              value: nextcloud-mariadb
            - name: MYSQL_DATABASE
              value: nextcloud
            - name: MYSQL_USER
              value: nextcloud
            - name: MYSQL_PASSWORD
              value: nextcloudpassword

            - name: OVERWRITEHOST
              value: nextcloud-tailscale-nextcloud-ingress-ingress.tailf76cf8.ts.net
            - name: OVERWRITEPROTOCOL
              value: https
            - name: OVERWRITECLIURL
              value: https://nextcloud-tailscale-nextcloud-ingress-ingress.tailf76cf8.ts.net
            - name: TRUSTED_PROXIES
              value: 10.0.0.0/8  
            - name: DATABASE_TYPE
              value: mysql

        mariadb:
          enabled: true
          auth:
            database: nextcloud
            username: nextcloud
            password: nextcloudpassword # Ensure this matches MYSQL_PASSWORD below
          primary:
            persistence:
              enabled: true
              storageClass: "longhorn"

        externalDatabase:
          enabled: false # Set to true only if using a DB outside this helm chart
        phpClientSsl:
          enabled: false
  destination:
    server: https://kubernetes.default.svc
    namespace: nextcloud
  syncPolicy:
    syncOptions:
      - CreateNamespace=true

