apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: longhorn
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://metallb.github.io/metallb
    targetRevision: 0.15.3
    chart: metallb
  destination:
    server: https://kubernetes.default.svc
    namespace: metallb
  syncPolicy:
    syncOptions:
     - CreateNamespace=true

